body{
    background-color: #aec3b0;
}
.container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 0px; 
    padding-top:0px ;
}
button{
    width: 50px;
    margin: 5px auto;
}

